<%- include ../../layout/head.ejs %>

<body>
  <%- include ../../layout/nav.ejs %>

  <div id="searchH1">Book Search</div>
  <div class="page">
    <div class="container">
      <form id="searchForm" action="book-search" method="POST">
        <div class="searchHeader">Search by</div>
        <div class="option" id="titleRadio" for="search">
          <input type="radio" name="search" value="title" checked="checked">
          <span>Title</span>
        </div>

        <div class="option" id="authorRadio" for="search">
          <input type="radio" name="search" value="author">
          <span>Author</span>
        </div>

        <div for="search">
          <input id="inputBox" type="text" name="search" placeholder="Book or author">
          <button id="searchButton">Search</button>
        </div>
      </form>
    </div>
  </div>
</body>
<%- include ../../layout/footer.ejs %>