<h1>Book Search App</h1>
<div class="container">
    <form action="book-search" method="POST">
        <legend>Search by Title or Author</legend>
        <label id="titleRadio" for="search">
      <span>Title</span>
      <input type="radio" name="search" value="title">
      </label>

        <label id="authorRadio" for="search">
      <span>Author</span>
      <input type="radio" name="search" value="author">
      </label>

        <label for="search">
       <input  id="inputBox" type="text" name="search" placeholder="insert book name or author">
       <button>Search</button>
     </label>
    </form>